<h3>Post Form</h3>

<%= form_for(@post) do |f|%>
<label>Post Title:</label><br>
<%# <% #using symbols below tells the form field what attribute to be associated with.  %>
<%# It also is what auto-fills the value for us.  %> 
<%=f.text_field :title%><br>
<label>Post Description:</label><br>
<%= f.text_area :description%> <br>

<%=f.submit "Update Post"%>
<%end%>
